body{
    background-image: url("this.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#s1,#s2,#s3,#s4{
    line-height: 20px;
    padding: 5px 5px;
    background-color: darksalmon;
    border: unset;
    border-left: 4px solid moccasin;

}
#all{
    font-size: x-large;
    font-family: "Lucida Console", Courier, monospace;
    color: azure;
}
.but
{
    font-size: 16px;
    padding: 8px 18px;
    border: none;
    color: black;
    text-decoration: none;
    font-family: "Lucida Console", Courier, monospace;
    border-radius: 8px;
    border: 2px solid #000000;
}
.but:hover
{
    background-color: #deb380;
}